@model Luminous.Biker.Web.Models.BikerBoyDetail

@{
    ViewBag.Title = "Details";
}

<h2  class="col-lg-8 col-xs-8 col-md-8 col-sm-12 col-lg-offset-2 col-xs-offset-2 col-md-offset-2">Details</h2>

<fieldset class="col-lg-8 col-xs-8 col-md-8 col-sm-12 col-lg-offset-2 col-xs-offset-2 col-md-offset-2">
    <legend>Biker Boy Detail</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.BB_Code)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BB_Code)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.BB_Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BB_Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Date_Of_Joining)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Date_Of_Joining)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Region)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Region)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Zonal_Code)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Zonal_Code)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.BB_State)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BB_State)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Town)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Town)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Mob)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Mob)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ZM_Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ZM_Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ZM_Code)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ZM_Code)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.RM_Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.RM_Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.RM_Code)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.RM_Code)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ASM_Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ASM_Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ASM_Code)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ASM_Code)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Cord1_Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Cord1_Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Cord1_Code)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Cord1_Code)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Cord2_Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Cord2_Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Cord2_Code)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Cord2_Code)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Active)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Active)
    </div>
</fieldset>
<p class="col-lg-8 col-xs-8 col-md-8 col-sm-12 col-lg-offset-2 col-xs-offset-2 col-md-offset-2">
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
