@model Luminous.Biker.Web.Models.RetailerDetail

@{
    ViewBag.Title = "Details";
}

<h2  class="col-lg-12 col-xs-12 col-md-12 col-sm-12">Details</h2>

<fieldset class="col-lg-12 col-xs-12 col-md-12 col-sm-12">
    <legend>Retailer Detail</legend>

    <div class="display-label col-md-2">
         @Html.DisplayNameFor(model => model.Code)
    </div>
    <div class="display-field col-md-4">
        @Html.DisplayFor(model => model.Code)
    </div>

    <div class="display-label col-md-2">
         @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field col-md-4">
        @Html.DisplayFor(model => model.Name)
    </div>

    @*<div class="display-label col-md-2">
         @Html.DisplayNameFor(model => model.BeatDetail.Code)
    </div>
    <div class="display-field col-md-4">
        @Html.DisplayFor(model => model.BeatDetail.Code)
    </div>*@

    <div class="display-label col-md-2">
         @Html.DisplayNameFor(model => model.Contact_person)
    </div>
    <div class="display-field col-md-4">
        @Html.DisplayFor(model => model.Contact_person)
    </div>

    <div class="display-label col-md-2">
         @Html.DisplayNameFor(model => model.State)
    </div>
    <div class="display-field col-md-4">
        @Html.DisplayFor(model => model.State)
    </div>

    <div class="display-label col-md-2">
         @Html.DisplayNameFor(model => model.CityArea)
    </div>
    <div class="display-field col-md-4">
        @Html.DisplayFor(model => model.CityArea)
    </div>

    <div class="display-label col-md-2">
         @Html.DisplayNameFor(model => model.Address)
    </div>
    <div class="display-field col-md-4">
        @Html.DisplayFor(model => model.Address)
    </div>

    <div class="display-label col-md-2">
         @Html.DisplayNameFor(model => model.Pin_Code)
    </div>
    <div class="display-field col-md-4">
        @Html.DisplayFor(model => model.Pin_Code)
    </div>

    <div class="display-label col-md-2">
         @Html.DisplayNameFor(model => model.Contact_Number)
    </div>
    <div class="display-field col-md-4">
        @Html.DisplayFor(model => model.Contact_Number)
    </div>

    <div class="display-label col-md-2">
         @Html.DisplayNameFor(model => model.Active_Status)
    </div>
    <div class="display-field col-md-4">
        @Html.DisplayFor(model => model.Active_Status)
    </div>

    <div class="display-label col-md-2">
         @Html.DisplayNameFor(model => model.Date_Of_Joining)
    </div>
    <div class="display-field col-md-4">
        @Html.DisplayFor(model => model.Date_Of_Joining)
    </div>

</fieldset>
<p class="col-lg-12 col-xs-12 col-md-12 col-sm-12">
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
