@model Luminous.Biker.Web.Models.DistDealerDetail

@{
    ViewBag.Title = "Details";
}

<h2  class="col-lg-12 col-xs-12 col-md-12 col-sm-12">Details</h2>

<fieldset class="col-lg-12 col-xs-12 col-md-12 col-sm-12">
    <legend>Dist/Dealer Detail</legend>

    <div class="display-label col-md-2">
         @Html.DisplayNameFor(model => model.Customer_Type)
    </div>
    <div class="display-field col-md-4">
        @Html.DisplayFor(model => model.Customer_Type)
    </div>

    <div class="display-label col-md-2">
         @Html.DisplayNameFor(model => model.Dis_Sap_Code)
    </div>
    <div class="display-field col-md-4">
        @Html.DisplayFor(model => model.Dis_Sap_Code)
    </div>

    <div class="display-label col-md-2">
         @Html.DisplayNameFor(model => model.Dis_Name)
    </div>
    <div class="display-field col-md-4">
        @Html.DisplayFor(model => model.Dis_Name)
    </div>

    <div class="display-label col-md-2">
         @Html.DisplayNameFor(model => model.Dis_Address1)
    </div>
    <div class="display-field col-md-4">
        @Html.DisplayFor(model => model.Dis_Address1)
    </div>

    <div class="display-label col-md-2">
         @Html.DisplayNameFor(model => model.Dis_Address2)
    </div>
    <div class="display-field col-md-4">
        @Html.DisplayFor(model => model.Dis_Address2)
    </div>

    <div class="display-label col-md-2">
         @Html.DisplayNameFor(model => model.Dis_City)
    </div>
    <div class="display-field col-md-4">
        @Html.DisplayFor(model => model.Dis_City)
    </div>

    <div class="display-label col-md-2">
         @Html.DisplayNameFor(model => model.Dis_District)
    </div>
    <div class="display-field col-md-4">
        @Html.DisplayFor(model => model.Dis_District)
    </div>

    <div class="display-label col-md-2">
         @Html.DisplayNameFor(model => model.Dis_State)
    </div>
    <div class="display-field col-md-4">
        @Html.DisplayFor(model => model.Dis_State)
    </div>

    <div class="display-label col-md-2">
         @Html.DisplayNameFor(model => model.Dis_ContactNo)
    </div>
    <div class="display-field col-md-4">
        @Html.DisplayFor(model => model.Dis_ContactNo)
    </div>

    <div class="display-label col-md-2">
         @Html.DisplayNameFor(model => model.Dis_Email)
    </div>
    <div class="display-field col-md-4">
        @Html.DisplayFor(model => model.Dis_Email)
    </div>

    <div class="display-label col-md-2">
         @Html.DisplayNameFor(model => model.Region_code)
    </div>
    <div class="display-field col-md-4">
        @Html.DisplayFor(model => model.Region_code)
    </div>

    <div class="display-label col-md-2">
         @Html.DisplayNameFor(model => model.isActive)
    </div>
    <div class="display-field col-md-4">
        @Html.DisplayFor(model => model.isActive)
    </div>

    <div class="display-label col-md-2">
         @Html.DisplayNameFor(model => model.ActivatedBY)
    </div>
    <div class="display-field col-md-4">
        @Html.DisplayFor(model => model.ActivatedBY)
    </div>

    <div class="display-label col-md-2">
         @Html.DisplayNameFor(model => model.ActivatedDate)
    </div>
    <div class="display-field col-md-4">
        @Html.DisplayFor(model => model.ActivatedDate)
    </div>

    <div class="display-label col-md-2">
         @Html.DisplayNameFor(model => model.Created_On)
    </div>
    <div class="display-field col-md-4">
        @Html.DisplayFor(model => model.Created_On)
    </div>

    <div class="display-label col-md-2">
         @Html.DisplayNameFor(model => model.Updated_On)
    </div>
    <div class="display-field col-md-4">
        @Html.DisplayFor(model => model.Updated_On)
    </div>

    <div class="display-label col-md-2">
         @Html.DisplayNameFor(model => model.Blocked_By)
    </div>
    <div class="display-field col-md-4">
        @Html.DisplayFor(model => model.Blocked_By)
    </div>

    <div class="display-label col-md-2">
         @Html.DisplayNameFor(model => model.Blocked_Date)
    </div>
    <div class="display-field col-md-4">
        @Html.DisplayFor(model => model.Blocked_Date)
    </div>



</fieldset>
<p class="col-lg-12 col-xs-12 col-md-12 col-sm-12">
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
