@model Luminous.Biker.Web.Models.BeatDistributorMapping

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>BeatDistributorMapping</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DistDealerDetail.Customer_Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DistDealerDetail.Customer_Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BeatDetail.Code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BeatDetail.Code)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
