@model Luminous.Biker.Web.Models.DistDealerDetail

@{
    ViewBag.Title = "Delete";
}

<h2  class="col-lg-8 col-xs-8 col-md-8 col-sm-12 col-lg-offset-2 col-xs-offset-2 col-md-offset-2">Delete</h2>

<h3 class="col-lg-8 col-xs-8 col-md-8 col-sm-12 col-lg-offset-2 col-xs-offset-2 col-md-offset-2">Are you sure you want to delete this?</h3>
<fieldset class="col-lg-8 col-xs-8 col-md-8 col-sm-12 col-lg-offset-2 col-xs-offset-2 col-md-offset-2">
    <legend>Dist/Dealer Detail</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Customer_Type)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Customer_Type)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Dis_Sap_Code)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Dis_Sap_Code)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Dis_Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Dis_Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Dis_Address1)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Dis_Address1)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Dis_Address2)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Dis_Address2)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Dis_City)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Dis_City)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Dis_District)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Dis_District)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Dis_State)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Dis_State)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Dis_ContactNo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Dis_ContactNo)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Dis_Email)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Dis_Email)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Region_code)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Region_code)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.isActive)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.isActive)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ActivatedBY)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ActivatedBY)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ActivatedDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ActivatedDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Created_On)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Created_On)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Updated_On)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Updated_On)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Blocked_By)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Blocked_By)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Blocked_Date)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Blocked_Date)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p class="col-lg-8 col-xs-8 col-md-8 col-sm-12 col-lg-offset-2 col-xs-offset-2 col-md-offset-2">
        <input type="submit" class="btn btn-primary" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
