@model Luminous.Biker.Web.Models.BikerBoyDetail

@{
    ViewBag.Title = "Delete";
}

<h2  class="col-lg-12 col-xs-12 col-md-12 col-sm-12">Delete</h2>

<h3 class="col-lg-12 col-xs-12 col-md-12 col-sm-12">Are you sure you want to delete this?</h3>
<fieldset class="col-lg-12 col-xs-12 col-md-12 col-sm-12">
    <legend>Biker Boy Detail</legend>

    <div class="display-label col-md-2">
         @Html.DisplayNameFor(model => model.BB_Code)
    </div>
    <div class="display-field col-md-4">
        @Html.DisplayFor(model => model.BB_Code)
    </div>

    <div class="display-label col-md-2">
         @Html.DisplayNameFor(model => model.BB_Name)
    </div>
    <div class="display-field col-md-4">
        @Html.DisplayFor(model => model.BB_Name)
    </div>

    <div class="display-label col-md-2">
         @Html.DisplayNameFor(model => model.Date_Of_Joining)
    </div>
    <div class="display-field col-md-4">
        @Html.DisplayFor(model => model.Date_Of_Joining)
    </div>

    <div class="display-label col-md-2">
         @Html.DisplayNameFor(model => model.Region)
    </div>
    <div class="display-field col-md-4">
        @Html.DisplayFor(model => model.Region)
    </div>

    <div class="display-label col-md-2">
         @Html.DisplayNameFor(model => model.Zonal_Code)
    </div>
    <div class="display-field col-md-4">
        @Html.DisplayFor(model => model.Zonal_Code)
    </div>

    <div class="display-label col-md-2">
         @Html.DisplayNameFor(model => model.BB_State)
    </div>
    <div class="display-field col-md-4">
        @Html.DisplayFor(model => model.BB_State)
    </div>

    <div class="display-label col-md-2">
         @Html.DisplayNameFor(model => model.Town)
    </div>
    <div class="display-field col-md-4">
        @Html.DisplayFor(model => model.Town)
    </div>

    <div class="display-label col-md-2">
         @Html.DisplayNameFor(model => model.Mob)
    </div>
    <div class="display-field col-md-4">
        @Html.DisplayFor(model => model.Mob)
    </div>

    <div class="display-label col-md-2">
         @Html.DisplayNameFor(model => model.ZM_Name)
    </div>
    <div class="display-field col-md-4">
        @Html.DisplayFor(model => model.ZM_Name)
    </div>

    <div class="display-label col-md-2">
         @Html.DisplayNameFor(model => model.ZM_Code)
    </div>
    <div class="display-field col-md-4">
        @Html.DisplayFor(model => model.ZM_Code)
    </div>

    <div class="display-label col-md-2">
         @Html.DisplayNameFor(model => model.RM_Name)
    </div>
    <div class="display-field col-md-4">
        @Html.DisplayFor(model => model.RM_Name)
    </div>

    <div class="display-label col-md-2">
         @Html.DisplayNameFor(model => model.RM_Code)
    </div>
    <div class="display-field col-md-4">
        @Html.DisplayFor(model => model.RM_Code)
    </div>

    <div class="display-label col-md-2">
         @Html.DisplayNameFor(model => model.ASM_Name)
    </div>
    <div class="display-field col-md-4">
        @Html.DisplayFor(model => model.ASM_Name)
    </div>

    <div class="display-label col-md-2">
         @Html.DisplayNameFor(model => model.ASM_Code)
    </div>
    <div class="display-field col-md-4">
        @Html.DisplayFor(model => model.ASM_Code)
    </div>

    <div class="display-label col-md-2">
         @Html.DisplayNameFor(model => model.Cord1_Name)
    </div>
    <div class="display-field col-md-4">
        @Html.DisplayFor(model => model.Cord1_Name)
    </div>

    <div class="display-label col-md-2">
         @Html.DisplayNameFor(model => model.Cord1_Code)
    </div>
    <div class="display-field col-md-4">
        @Html.DisplayFor(model => model.Cord1_Code)
    </div>

    <div class="display-label col-md-2">
         @Html.DisplayNameFor(model => model.Cord2_Name)
    </div>
    <div class="display-field col-md-4">
        @Html.DisplayFor(model => model.Cord2_Name)
    </div>

    <div class="display-label col-md-2">
         @Html.DisplayNameFor(model => model.Cord2_Code)
    </div>
    <div class="display-field col-md-4">
        @Html.DisplayFor(model => model.Cord2_Code)
    </div>


    <div class="display-label col-md-2">
        @Html.DisplayNameFor(model => model.BranchManager)
    </div>
    <div class="display-field col-md-4">
        @Html.DisplayFor(model => model.BranchManager)
    </div>

    <div class="display-label col-md-2">
         @Html.DisplayNameFor(model => model.Active)
    </div>
    <div class="display-field col-md-4">
        @Html.DisplayFor(model => model.Active)
    </div>

</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p class="col-lg-12 col-xs-12 col-md-12 col-sm-12">
        <input type="submit" class="btn btn-primary" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
